/*----------------------------------------------------------------------------*/
/* Shortcode CSS
/*----------------------------------------------------------------------------*/

.rrze-jobs {
    --min-width-aside: 300px;
    --gap-width: 30px;
}

.rrze-jobs-single {
    display: block;
    @media (min-width: 1024px) {
		display: grid;
		gap: var(--gap-width, 30px);
		grid-template-columns: 1fr var(--min-width-aside, 300px);
    }

    article {
	display: block;
    }
    
    aside.keyfacts,
	section.keyfacts {
		display: block;
		@media (min-width: 1024px) {
			border-left: 2px solid var(--color-primary-ci-hell2, #ced9e7);
			padding-left: 15px;
		}

		span {
			font-size: inherit;
			line-height: inherit;
		}
    }

	aside.general-info,
	section.general-info {
		grid-column: 1 / -1;
	}
    
    @media (min-width: 600px) {
	table.rrze-jobs-single-keyfacts {
	    background: transparent;
	    border: none;

	    tr {
		 border: none;
	    }
	    th, td {
		display: inline-block;
		width: 100%;
	    }
	    th {
		vertical-align: top;
		border: none;
		background: transparent;
		padding: 0;
		font-size: 0.9em;
	    }
	    td {
		vertical-align: top;
		border: none;
		background: transparent;	    
		padding: 0 0 1em 1em;


		ul {
		    margin: 0; 
		    li {
			list-style: inside disc;
			font-size: inherit;
			line-height: inherit;
		    }
		}
	    }
		tr.notice-validThrough {
			display: none;
		}
	} 
    }
}

.fau-elemental {
	.rrze-jobs-single {
		display: flex;
		flex-direction: column;
		row-gap: 2em;
		.job-content {
			order: 2;
		}
		p.button-wrapper {
			margin: 0;
			text-align: right;
			margin-bottom: var(--Spacing-4x, 1rem);
		}
		a.standard-btn {
			width: auto;
			display: inline-flex;
			align-items: center;
			justify-content: space-between;
			background-color: var(--FAU-Col-FAU-Dunkelblau-100, #041e42);
			color: #fff;
			text-decoration: none;
			padding: var(--Spacing-2x, .5rem) var(--Spacing-4x, 1rem);
			padding-right: calc(var(--Spacing-4x, 1rem) + 2.9375rem);
			position: relative;
			overflow: hidden;
			font-weight: 600;
			&:after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				width: 2.9375rem;
				height: 100%;
				background-color: var(--FAU-Col-FAU-Blau-100, #04316a);
			}
			&:before {
				content: "";
				position: absolute;
				right: 12px;
				top: 50%;
				transform: translateY(-50%);
				width: 25px;
				height: 25px;
				background: white;
				mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960'%3E%3Cpath d='M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z'/%3E%3C/svg%3E") center / contain no-repeat;
				-webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960'%3E%3Cpath d='M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z'/%3E%3C/svg%3E") center / contain no-repeat;
				transition: transform 0.2s ease;
				z-index: 1;
			}
			&:hover:before {
				transform: translate(4px, -50%);
			}
		}
		.keyfacts {
			order: 1;
			border: none;
			padding: 0;
			p.notice-validThrough {
				display: none;
			}
			table.rrze-jobs-single-keyfacts {
				box-sizing: border-box;
				background-color: var(--FAU_Col_FAU-Dunkelblau_12_5, #DFE2E7);
				padding: 40px var(--Spacing-4x, 1rem) var(--Spacing-4x, 1rem);
				width: 100%;
				max-width: 870px;
				margin: var(--Spacing-8x, 2rem) 0 var(--Spacing-4x, 1rem);
				position: relative;
				font-size: unset;
				&:after {
					content: "";
					background-image: url("../../assets/img/keep.svg");
					background-repeat: no-repeat;
					background-position: center;
					display: block;
					width: 48px;
					height: 48px;
					position: absolute;
					top: -24px;
					left: var(--Spacing-4x, 1rem);
					background-color: var(--FAU-Col-FAU-Blau-100, #04316a);
					color: #fff;

				}
				tbody {
					display: block;
					@media screen and (min-width: 600px) {
						column-count: 2;
						column-gap: var(--Spacing-4x, 1rem);
					}
				}
				tr {
					display: block;
				}
				th {
					vertical-align: top;
					padding-right: var(--Spacing-2x, .5rem);
				}
				ul {
					margin: 0;
					padding-left: 0;
					list-style: none;
					li {
						list-style: none;
						@media (min-width: 600px) {
							list-style: none;
						}
					}
				}
			}
		}
		.general-info {
			order: 3;
			.title-application-process {
				display: none;
			}
			.application-process {
				position: relative;
				width: 100vw;
				left: 50%;
				margin-left: -50vw;
				box-sizing: border-box;
				padding: var(--Spacing-4x, 1rem);
			}
		}
	}
}

.fau-theme {
	.job-content {
		p.button-wrapper {
			display: none;
		}
	}
}
