/* Gutenberg */
.editor-styles-wrapper { 
    line-height: normal !important;
}
/* .editor-styles-wrapper ul li { 
    list-style-type: none !important;
} */
.wp-core-ui select {
    max-width: 100% !important;
}
.components-placeholder {     
    text-align: left !important;
    align-items: stretch !important;
}
.editor-styles-wrapper label {
    font-weight: normal;
}