/*----------------------------------------------------------------------------*/
/* RRZE Jobs CSS Settings Frontend 
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/* Shortcode CSS
/*----------------------------------------------------------------------------*/
.rrze-jobs {
  --min-width-aside: 300px;
  --gap-width: 30px;
}

.rrze-jobs-single {
  display: block;
}
@media (min-width: 1024px) {
  .rrze-jobs-single {
    display: grid;
    gap: var(--gap-width, 30px);
    grid-template-columns: 1fr var(--min-width-aside, 300px);
  }
}
.rrze-jobs-single article {
  display: block;
}
.rrze-jobs-single .keyfacts ul.rrze-jobs-contact,
.rrze-jobs-single .keyfacts ul.rrze-jobs-contact,
.rrze-jobs-single .job-content ul.rrze-jobs-contact {
  padding: 0;
  margin: 0;
}
.rrze-jobs-single .keyfacts ul.rrze-jobs-contact li,
.rrze-jobs-single .keyfacts ul.rrze-jobs-contact li,
.rrze-jobs-single .job-content ul.rrze-jobs-contact li {
  list-style: none;
  padding: 0;
}
.rrze-jobs-single aside.keyfacts,
.rrze-jobs-single section.keyfacts {
  display: block;
}
@media (min-width: 1024px) {
  .rrze-jobs-single aside.keyfacts,
  .rrze-jobs-single section.keyfacts {
    border-left: 2px solid var(--color-primary-ci-hell2, #ced9e7);
    padding-left: 15px;
  }
}
.rrze-jobs-single aside.keyfacts span,
.rrze-jobs-single section.keyfacts span {
  font-size: inherit;
  line-height: inherit;
}
.rrze-jobs-single aside.general-info,
.rrze-jobs-single section.general-info {
  grid-column: 1/-1;
}
@media (min-width: 600px) {
  .rrze-jobs-single table.rrze-jobs-single-keyfacts {
    background: transparent;
    border: none;
  }
  .rrze-jobs-single table.rrze-jobs-single-keyfacts tr {
    border: none;
  }
  .rrze-jobs-single table.rrze-jobs-single-keyfacts th, .rrze-jobs-single table.rrze-jobs-single-keyfacts td {
    display: inline-block;
    width: 100%;
  }
  .rrze-jobs-single table.rrze-jobs-single-keyfacts th {
    vertical-align: top;
    border: none;
    background: transparent;
    padding: 0;
    font-size: 0.9em;
  }
  .rrze-jobs-single table.rrze-jobs-single-keyfacts td {
    vertical-align: top;
    border: none;
    background: transparent;
    padding: 0 0 1em 1em;
  }
  .rrze-jobs-single table.rrze-jobs-single-keyfacts td ul {
    margin: 0;
  }
  .rrze-jobs-single table.rrze-jobs-single-keyfacts td ul li {
    list-style: inside disc;
    font-size: inherit;
    line-height: inherit;
  }
  .rrze-jobs-single table.rrze-jobs-single-keyfacts tr.notice-validThrough {
    display: none;
  }
}

.fau-elemental .rrze-jobs-single {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}
.fau-elemental .rrze-jobs-single .job-content {
  order: 2;
}
.fau-elemental .rrze-jobs-single p.button-wrapper {
  margin: 0;
  text-align: right;
  margin-bottom: var(--Spacing-4x, 1rem);
}
.fau-elemental .rrze-jobs-single a.standard-btn {
  width: auto;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--FAU-Col-FAU-Dunkelblau-100, #041e42);
  color: #fff;
  text-decoration: none;
  padding: var(--Spacing-2x, 0.5rem) var(--Spacing-4x, 1rem);
  padding-right: calc(var(--Spacing-4x, 1rem) + 2.9375rem);
  position: relative;
  overflow: hidden;
  font-weight: 600;
}
.fau-elemental .rrze-jobs-single a.standard-btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2.9375rem;
  height: 100%;
  background-color: var(--FAU-Col-FAU-Blau-100, #04316a);
}
.fau-elemental .rrze-jobs-single a.standard-btn:before {
  content: "";
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background: white;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960'%3E%3Cpath d='M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z'/%3E%3C/svg%3E") center/contain no-repeat;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960'%3E%3Cpath d='M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z'/%3E%3C/svg%3E") center/contain no-repeat;
  transition: transform 0.2s ease;
  z-index: 1;
}
.fau-elemental .rrze-jobs-single a.standard-btn:hover:before {
  transform: translate(4px, -50%);
}
.fau-elemental .rrze-jobs-single .keyfacts {
  order: 1;
  border: none;
  padding: 0;
}
.fau-elemental .rrze-jobs-single .keyfacts p.notice-validThrough {
  display: none;
}
.fau-elemental .rrze-jobs-single .keyfacts table.rrze-jobs-single-keyfacts {
  box-sizing: border-box;
  background-color: var(--FAU_Col_FAU-Dunkelblau_12_5, #DFE2E7);
  padding: 40px var(--Spacing-4x, 1rem) var(--Spacing-4x, 1rem);
  width: 100%;
  max-width: 870px;
  margin: var(--Spacing-8x, 2rem) 0 var(--Spacing-4x, 1rem);
  position: relative;
  font-size: unset;
}
.fau-elemental .rrze-jobs-single .keyfacts table.rrze-jobs-single-keyfacts:after {
  content: "";
  background-image: url("../../assets/img/keep.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 48px;
  height: 48px;
  position: absolute;
  top: -24px;
  left: var(--Spacing-4x, 1rem);
  background-color: var(--FAU-Col-FAU-Blau-100, #04316a);
  color: #fff;
}
.fau-elemental .rrze-jobs-single .keyfacts table.rrze-jobs-single-keyfacts tbody {
  display: block;
}
@media screen and (min-width: 600px) {
  .fau-elemental .rrze-jobs-single .keyfacts table.rrze-jobs-single-keyfacts tbody {
    column-count: 2;
    column-gap: var(--Spacing-4x, 1rem);
  }
}
.fau-elemental .rrze-jobs-single .keyfacts table.rrze-jobs-single-keyfacts tr {
  display: block;
}
.fau-elemental .rrze-jobs-single .keyfacts table.rrze-jobs-single-keyfacts th {
  vertical-align: top;
  padding-right: var(--Spacing-2x, 0.5rem);
}
.fau-elemental .rrze-jobs-single .keyfacts table.rrze-jobs-single-keyfacts ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.fau-elemental .rrze-jobs-single .keyfacts table.rrze-jobs-single-keyfacts ul li {
  list-style: none;
}
@media (min-width: 600px) {
  .fau-elemental .rrze-jobs-single .keyfacts table.rrze-jobs-single-keyfacts ul li {
    list-style: none;
  }
}
.fau-elemental .rrze-jobs-single .job-content ul {
  font-size: var(--P-Body-Text, 1.125rem);
  line-height: var(--base-line-height, 1.5);
  list-style-type: none;
  padding-left: var(--Spacing-14x);
  color: var(--FAU-Col-FAU-Schwarz-100);
  font-weight: 400;
  max-width: min(100vw - var(--Spacing-10x), var(--small-max-width));
}
.fau-elemental .rrze-jobs-single .job-content ul:not(.rrze-jobs-contact) li {
  position: relative;
  margin-bottom: var(--Spacing-6x);
}
.fau-elemental .rrze-jobs-single .job-content ul:not(.rrze-jobs-contact) li:before {
  background-color: var(--FAU-Col-FAU-Blau-100);
  content: "";
  height: 0.125rem;
  left: calc(var(--Spacing-14x) * -1);
  position: absolute;
  top: var(--Spacing-3x);
  width: var(--Spacing-8x);
}
.fau-elemental .rrze-jobs-single .job-content ul.rrze-jobs-contact {
  padding: 0;
  margin: 0;
}
.fau-elemental .rrze-jobs-single .job-content ul.rrze-jobs-contact li {
  list-style: none;
}
.fau-elemental .rrze-jobs-single .general-info {
  order: 3;
}
.fau-elemental .rrze-jobs-single .general-info .title-application-process {
  display: none;
}
.fau-elemental .rrze-jobs-single .general-info .application-process {
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  box-sizing: border-box;
  padding: var(--Spacing-4x, 1rem);
  margin-top: var(--Spacing-6x, 1.5rem);
  margin-bottom: var(--Spacing-6x, 1.5rem);
}

.fau-theme .job-content p.button-wrapper {
  display: none;
}

/*----------------------------------------------------------------------------*/
/* Application CSS
/*----------------------------------------------------------------------------*/
.rrze-jobs-single-application {
  font-size: 0.9375em;
  padding: 10px 12px;
}
.rrze-jobs-single-application p {
  font-size: 1em;
  margin-bottom: 0;
}
.rrze-jobs-single-application dl {
  margin-bottom: 10px;
}
.rrze-jobs-single-application dd {
  margin-bottom: 10px;
}
.rrze-jobs-single-application hr {
  margin-bottom: 10px;
}

.rrze-jobs-single-keyfacts {
  font-size: 0.9375em;
  padding: 10px 12px;
  background-color: rgb(239, 239, 242);
}
.fau-theme .rrze-jobs-single-keyfacts {
  background-color: rgb(233, 237, 242);
}
.rrze-jobs-single-keyfacts h3 {
  margin-bottom: 0.5em;
}
.fau-theme .rrze-jobs-single-keyfacts h3 {
  padding-top: 0;
}
.rrze-jobs-single-keyfacts dl {
  margin-bottom: 10px;
}
.rrze-jobs-single-keyfacts dd {
  margin-bottom: 10px;
}
.rrze-jobs-single-keyfacts hr {
  margin-bottom: 10px;
}
.rrze-jobs-single-keyfacts h3 {
  margin-top: 0.5em;
}

.rrze-jobs-closelink-container {
  text-align: right;
  padding-right: 16px;
  margin-bottom: 0.2em;
}

/*----------------------------------------------------------------------------*/
/* Embed CSS
/*----------------------------------------------------------------------------*/
.embedded-job {
  width: 1820px;
  height: 590px;
}
.embedded-job #page,
.embedded-job .site,
.embedded-job #primary {
  width: 1820px;
  max-width: 1820px;
  height: 590px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.embedded-job h2 {
  max-height: 120px;
  overflow: hidden;
  position: relative;
}
.embedded-job h2:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 100px, rgb(255, 255, 255) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 100px, rgb(255, 255, 255) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 100px, rgb(255, 255, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#ffffff",GradientType=0 );
  z-index: 1;
}
.embedded-job h3 {
  font-size: 16px;
  line-height: 22.4px;
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 5px;
  color: #393944;
}
.embedded-job .label {
  font-weight: bold;
}
.embedded-job p:last-child {
  margin-bottom: 0;
}
.embedded-job .job-tasks {
  max-height: 200px;
  overflow-y: hidden;
  margin-left: 0;
  padding-left: 1.3333em;
  position: relative;
}
.embedded-job .job-tasks :before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 180px, rgb(255, 255, 255) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 180px, rgb(255, 255, 255) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 180px, rgb(255, 255, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#ffffff",GradientType=0 );
  z-index: 1;
}
.embedded-job .job-tasks li {
  overflow: visible;
}
.embedded-job img.default-image {
  display: block;
  margin: 185px auto 0;
}

/*# sourceMappingURL=rrze-jobs.css.map */
