/**
Shortcode Style
*/
.rrze-jobs-single .standard-btn {
    margin-bottom: 0;
}
.rrze-jobs-single-application {
    font-size: .9375em;
    padding:10px 12px;
}

.rrze-jobs-single-application p {
    font-size: 1em;
    margin-bottom: 0;
}
.rrze-jobs-single-keyfacts {
    font-size: .9375em;
    padding:10px 12px;
    background-color: rgb(239, 239, 242);
}

.fau-theme .rrze-jobs-single-keyfacts {
    background-color: rgb(233, 237, 242);
}

.rrze-jobs-single-keyfacts h3 {
    margin-bottom: .5em;
}
.fau-theme .rrze-jobs-single-keyfacts h3 {
    padding-top: 0;
}

.rrze-jobs-single-keyfacts dl,
.rrze-jobs-single-application dl {
    margin-bottom: 10px;
}
.rrze-jobs-single-keyfacts dd,
.rrze-jobs-single-application dd {
    margin-bottom: 10px;
}
.rrze-jobs-single-keyfacts hr,
.rrze-jobs-single-application hr {
    margin-bottom: 10px;
}
.rrze-jobs-single-keyfacts h3 {
    margin-top: .5em;
}
.rrze-jobs-closelink-container {
    text-align: right;
    padding-right: 16px;
    margin-bottom: .2em;
}
.embedded-job {
    width: 1820px;
    height: 590px;
    //border: 1px solid red;
    //margin: 50px !important;
}
.embedded-job #page,
.embedded-job .site,
.embedded-job #primary {
    width: 1820px;
    max-width: 1820px;
    height: 590px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.embedded-job h2 {
    max-height: 120px;
    overflow: hidden;
    position: relative;
}
.embedded-job h2:before {
     content: " ";
     width: 100%;
     height: 100%;
     position: absolute;
     z-index: -1;
     top: 0;
     left: 0;
     background: rgb(255,255,255);
     background: -moz-linear-gradient(top,  rgba(0,0,0,0) 100px, rgba(255,255,255,1) 100%);
     background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 100px,rgba(255,255,255,1) 100%);
     background: linear-gradient(to bottom,  rgba(0,0,0,0) 100px,rgba(255,255,255,1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=0 );
     z-index: 1;
}
.embedded-job h3 {
    font-size: 16px;
    line-height: 22.4px;
    font-size: 1rem;
    line-height: 1.4rem;
    margin-bottom: 5px;
    color: #393944;
}
.embedded-job .label {
    font-weight: bold;
}
.embedded-job p:last-child {
    margin-bottom: 0;
}
.embedded-job .job-tasks {
    max-height: 200px;
    overflow-y: hidden;
    margin-left: 0;
    padding-left: 1.3333em;
    position: relative;
}
.embedded-job .job-tasks :before {
     content: " ";
     width: 100%;
     height: 100%;
     position: absolute;
     z-index: -1;
     top: 0;
     left: 0;
     background: rgb(255,255,255);
     background: -moz-linear-gradient(top,  rgba(0,0,0,0) 180px, rgba(255,255,255,1) 100%);
     background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 180px,rgba(255,255,255,1) 100%);
     background: linear-gradient(to bottom,  rgba(0,0,0,0) 180px,rgba(255,255,255,1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=0 );
     z-index: 1;
}
.embedded-job .job-tasks li {
    overflow: visible;
}

.embedded-job img.default-image {
    display: block;
    margin: 185px auto 0;
}
